<div class="border-bottom row" style="margin-bottom: 15px">
  <div class="col-10">
    <div>{{ job['title'] }}</div>
    <div><b>Location:</b>{{ job['location'] }}</div>
    {% if 'salary' in job %}
    <li>{{ job['salary'] }}</li>
    {% endif %}
  </div>
  <div class="col-2">
    <a
      href="mailto:bahetimadhav70@gmail.com?subject=Application for {{job['title']}}"
      type="button"
      class="btn btn-outline-success"
      style="margin-bottom: 5px"
      >Apply</a
    >
  </div>
</div>
